{% extends "base.html" %}
{% block content %}

	<style>
		*{
     		overflow: visible;
    	}
	</style>

    <link rel="stylesheet" type="text/css" href="../static/comingsoon/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/comingsoon/css/main.css">
    <div class="bg-g1 size1 flex-w flex-col-c-sb p-l-15 p-r-15 p-t-55 p-b-35 respon1">
		<span></span>
		<div class="flex-col-c p-t-10 p-b-50 m-b-180">
			<h3 class="l1-txt1 txt-center p-b-10">
				Coming Soon
			</h3>

			<p class="txt-center l1-txt2 p-b-60">
				This Page is under construction #B24
			</p>
		</div>

		
		
	</div>


{% endblock %}