{% extends "base_new.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/index.css">
</head>
    <div>
        <div class="first-content">
            <div class="row">
                <div class="col-12" style="color: white;">
                    <div class="first-text-content">
                        <div class="txt-rotate"
                            data-period="2000"
                            data-rotate='["Welcome to CSC", "Cyber Security Community"]'>
                        </div>
                    </div>
                    <div class="second-text-content">
                        Cyber Security Community Bina Nusantara
                    </div>
                </div>
            </div>
            <video controls="false" autoplay="" loop="" muted="" style="background-color: black;">
                <source src="/static/videos/slideshow.mp4" type="video/mp4">
                Your browser does not support the video tag.
           </video>
        </div>
        <div class="overlay"></div>
        <div style="padding: 0 20%; background-color: black;">
            <div class="second-content text-center" style="color: white;">

              <div id="DPI">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                      <div style="margin-top: 1rem; margin-bottom: 1rem; font-size: 2vw;">
                          DPI
                      </div>
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#DPI #carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#DPI #carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#DPI #carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#DPI #carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#DPI #carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                    
                </div>
              </div>
                
                
                <div id="Research">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div style="margin-top: 1rem; margin-bottom: 1rem; font-size: 2vw;">
                            Research
                        </div>
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#Research #carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#Research #carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#Research #carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#Research #carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#Research #carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      
                  </div>
                </div>
                
                <div id="Human">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div style="margin-top: 1rem; margin-bottom: 1rem; font-size: 2vw;">
                            Human
                        </div>
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#Human #carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#Human #carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#Human #carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#Human #carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#Human #carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      
                  </div>
                </div>
                
                <div id="Event">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div style="margin-top: 1rem; margin-bottom: 1rem; font-size: 2vw;">
                            Event
                        </div>
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#Event #carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#Event #carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#Event #carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#Event #carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#Event #carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      
                 </div>
                </div>
               
                <div id="Education">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div style="margin-top: 1rem; margin-bottom: 1rem; font-size: 2vw;">
                            Education
                        </div>
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#Education #carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#Education #carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#Education #carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="/static/images/profile_image/default.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>(JABATAN)</h5>
                            <p>(....nama....)</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#Education #carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#Education #carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      
                  </div>
                </div>
                
            </div>
            <div style="height: 5ch;"></div> 
            <!-- jarak sama footer -->
        </div>
<script>
    var TxtRotate = function(el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

    var that = this;
    var delta = 300 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
    }

    setTimeout(function() {
        that.tick();
    }, delta);
    };

    window.onload = function() {
    var elements = document.getElementsByClassName('txt-rotate');
    for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-rotate');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
        new TxtRotate(elements[i], JSON.parse(toRotate), period);
        }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
    document.body.appendChild(css);
    };

</script>
<script>



    // $(window).on('load', function(){
    //     var top = $('video').height();
    //     $('.logo-csc').css('marginTop', top);
        
    //     $('.first-content > .row').css('top', top/2);
    //     var width = $('video').width;
    //     $('.first-content > div:nth-child(3)').css('width', width)
    //     $('.first-content > div:nth-child(3)').css('height', top)
    // })
    
    // $(window).on('resize', function(){
    //     var top = $('video').height();
    //     $('.logo-csc').css('marginTop', top);
        
    //     $('.first-content > .row').css('top', top/2);
    //     var width = $('video').width;
    //     $('.first-content > div:nth-child(3)').css('width', width)
    //     $('.first-content > div:nth-child(3)').css('height', top)
    // })
    
</script>

{% endblock %}